[Desktop Entry]
Categories=AudioVideo;Recorder;
Keywords=screen;capture;recorder;screenshot;deepin;dde;
Comment=Record screen
Exec=deepin-screen-recorder %F
#Exec=/usr/bin/deepin-turbo-invoker --type=dtkwidget /usr/bin/deepin-screen-recorder
GenericName=Screen Capture
Icon=deepin-screen-recorder
Name=Deepin Screen Capture
TryExec=deepin-screen-recorder
Type=Application
X-Deepin-ManualID=deepin-screen-recorder
X-Deepin-Vendor=deepin
X-Deepin-TurboType=dtkwidget
NotShowIn=DeepinTablet

# Translations:
# Do not manually modify!
Comment[ar]=تسجيل الشاشة
Comment[ast]=Graba la pantalla
Comment[bg]=Запис на екран
Comment[bn]=স্ক্রিন রেকর্ড করুন
Comment[bo]=བརྙན་ཡོལ་ཕབ་པའི་བྱ་རིམ།
Comment[ca]=Grava la pantalla
Comment[cs]=Nahrát obrazovku
Comment[da]=Optag skærm
Comment[de]=Bildschirm aufzeichnen
Comment[es]=Grabación de pantalla
Comment[es_419]=Grabar de pantalla
Comment[fi]=Tallenna näyttö
Comment[fr]=Enregistre l'écran
Comment[hr]=Snimi zaslon
Comment[id]=Rekam Layar
Comment[it]=Registratore dello schermo
Comment[ja]=画面を録画
Comment[ko]=화면 녹화
Comment[lt]=Įrašinėti ekraną
Comment[ms]=Rakam Skrin
Comment[nb]=Ta opp skjerm
Comment[ne]=रेकर्ड स्क्रीन
Comment[nl]=Schermopname maken
Comment[pl]=Nagraj ekran
Comment[pt]=Gravar ecrã
Comment[pt_BR]=Gravar tela
Comment[ru]=Запись с экрана
Comment[sk]=Nahrať obrazovku
Comment[sq]=Regjistroni ekranin
Comment[sr]=Снимај екран
Comment[tr]=Ekranı kaydet
Comment[ug]=ئېكراننى سىنغا ئېلىش
Comment[uk]=Запис з екрана
Comment[zh_CN]=截图录屏
Comment[zh_HK]=錄製螢幕
Comment[zh_TW]=錄製螢幕
GenericName[ar]=مسجل الشاشة
GenericName[ast]=Grabador de la pantalla
GenericName[bg]=Запис на екрана
GenericName[bn]=স্ক্রিন রেকর্ডার
GenericName[bo]=བརྙན་བཤུས་བརྙན་ཕབ།
GenericName[ca]=Gravador de pantalla
GenericName[cs]=Nahrávač obrazovky
GenericName[da]=Skærmoptager
GenericName[de]=Screen Recorder
GenericName[es]=Screen Recorder
GenericName[es_419]=Grabadora de pantalla
GenericName[fi]=Tallennin
GenericName[fr]=Enregistreur d'écran
GenericName[hr]=Snimač zaslona
GenericName[id]=Perekam Layar
GenericName[it]=Screen Recorder
GenericName[ja]=スクリーンレコーダー
GenericName[ko]=화면 녹화 도구
GenericName[lt]=Ekrano rašytuvas
GenericName[ms]=Perakam Skrin
GenericName[nb]=Skjermopptaker
GenericName[ne]=स्क्रीन रेकर्डर
GenericName[nl]=Schermopname
GenericName[pl]=Nagrywanie ekranu
GenericName[pt]=Captura de Tela
GenericName[pt_BR]=Captura de Tela
GenericName[ru]=Запись с Экрана
GenericName[sk]=Nahrávanie obrazovky
GenericName[sq]=Regjistrues Ekrani
GenericName[sr]=Снимач Екрана
GenericName[tr]=Ekran Kaydedici
GenericName[ug]=ئېكراننى رەسىم تۇتۇش، سىنغا ئېلىش
GenericName[uk]=Записувач з екрана
GenericName[zh_CN]=截图录屏
GenericName[zh_HK]=截圖錄屏
GenericName[zh_TW]=截圖錄屏
Name[ar]=مسجل الشاشة ديبين
Name[ast]=Screen Capture
Name[bg]=Deepin запис на екрана
Name[bn]=ডিপিন স্ক্রিন রেকর্ডার
Name[bo]=གཏིང་ཟབ་བརྙན་བཤུས་བརྙན་ཕབ།
Name[ca]=Gravador de pantalla del Deepin
Name[cs]=Nahrávač obrazovky
Name[da]=Deepin skærmoptager
Name[de]=Screen Capture
Name[es]=Screen Capture
Name[es_419]=Grabadora de pantalla de Deepin
Name[fi]=Deepin näytön tallennin
Name[fr]=Enregistreur d'écran Deepin
Name[hr]=Deepin snimač zaslona
Name[id]=Perekam Layar Deepin
Name[it]=Screen Capture
Name[ja]=Deepin スクリーンレコーダー
Name[ko]=Deepin 화면 녹화 도구
Name[lt]=Deepin ekrano rašytuvas
Name[ms]=Perakam Skrin Deepin
Name[nb]=Deepin Skjermopptaker
Name[ne]=डिपिन स्क्रीन रेकर्डर
Name[nl]=Deepin Schermopname
Name[pl]=Nagrywanie ekranu Deepin
Name[pt]=Screen Capture
Name[pt_BR]=Captura de Tela Deepin
Name[ru]=Запись с Экрана Deepin
Name[sk]=Deepin Nahrávanie obrazovky
Name[sq]=Regjistrues Ekrani Deepin
Name[sr]=Дипин Снимач Екрана
Name[tr]=Deepin Ekran Kaydedici
Name[ug]=Deepin ئېكراننى رەسىم تۇتۇش، سىنغا ئېلىش
Name[uk]=Записувач з екрана Deepin
Name[zh_CN]=截图录屏
Name[zh_HK]=Deepin 螢幕錄影
Name[zh_TW]=Deepin 螢幕錄影

[X-Full Shortcut Group]
Exec=dbus-send --print-reply --dest=com.deepin.Screenshot /com/deepin/Screenshot com.deepin.Screenshot.FullscreenScreenshot
Name=Full Screenshot

# Translations:
# Do not manually modify!
Name[ar]=لقطة شاشة كاملة
Name[bo]=བརྙན་ཡོལ་ཡོངས་བཤུས།
Name[br]=Tapadenn-skramm klok
Name[ca]=Captura completa
Name[cs]=Snímek celé obrazovky
Name[da]=Fuldt skærmbillede
Name[de]=Volle Bildschirmaufnahme
Name[es]=Captura de pantalla completa
Name[fi]=Kokoruudun kaappaus
Name[fr]=Capture d&apos;écran complète
Name[gl_ES]=Captura de pantalla completa
Name[hu]=Teljes képernyőkép
Name[it]=Istantanea schermo intero
Name[ko]=전체 스크린샷
Name[ms]=Tangkap Layar Penuh
Name[nl]=Schermfoto van volledig scherm
Name[pl]=Pełny zrzut ekranu
Name[pt_BR]=Capturar a tela inteira
Name[pt]=Captura de ecrã inteiro
Name[ru]=Скриншот всего экрана
Name[sq]=Foto e Plotë Ekrani
Name[sr]=Целовито усликавање
Name[tr]=Tam Ekran Görüntüsü
Name[ug]=پۈتۈن ئېكراننى رەسىم تۇتۇش
Name[uk]=Знімок усього екрана
Name[vi]=Chụp tất cả
Name[zh_CN]=全屏截图
Name[zh_HK]=全屏截圖
Name[zh_TW]=全屏截圖

[X-Delay Shortcut Group]
Exec=dbus-send --print-reply --dest=com.deepin.Screenshot /com/deepin/Screenshot com.deepin.Screenshot.DelayScreenshot int64:5
Name=Delay Screenshot

# Translations:
# Do not manually modify!
Name[ar]=تأخير لقطة الشاشة
Name[bo]=དུས་འགྱངས་བརྙན་བཤུས།
Name[br]=Munudoù an dapadenn-skramm
Name[ca]=Retarda la captura
Name[cs]=Pořídit snímek s prodlevou
Name[da]=Forsink skærmbillede
Name[de]=VerzĂ¶gerte Bildschirmaufnahme
Name[es]=Captura temporizada
Name[fi]=Ruudunkaappaus viiveellä
Name[fr]=Délai de la capture d&apos;écran
Name[gl_ES]=Captura de pantalla de atraso
Name[hu]=Késleltetett képernyőkép
Name[it]=Istantanea ritardata
Name[ko]=지연 스크린샷
Name[ms]=Tangkap Layar Lengah
Name[nl]=Schermfoto met vertraging
Name[pl]=Opóźnij zrzut ekranu
Name[pt_BR]=Atrasar captura
Name[pt]=Atraso na captura de ecrã
Name[ru]=Скриншот с задержкой
Name[sq]=Vonoje Foton
Name[sr]=Одложи усликавање
Name[tr]=Gecikmeli Ekran Görüntüsü
Name[ug]=ۋاقىت تەڭشەپ رەسىم تۇتۇش
Name[uk]=Знімок із затримкою
Name[vi]=Trì hoãn chụp
Name[zh_CN]=延时截图
Name[zh_HK]=延時截圖
Name[zh_TW]=延時截圖
