[D-BUS Service]
Name=com.deepin.Screenshot
Exec=/usr/bin/deepin-turbo-invoker --type=dtkwidget /usr/bin/deepin-screen-recorder --dbus
#Exec=/usr/bin/deepin-screen-recorder
