[D-BUS Service]
Name=com.deepin.ScreenRecorder
Exec=/usr/bin/busctl --user call org.desktopspec.ApplicationManager1 /org/desktopspec/ApplicationManager1/deepin_2dscreen_2drecorder org.desktopspec.ApplicationManager1.Application Launch -- 'sasa{sv}' '' 1 '--screenRecord' 0
