[Desktop Entry]
Categories=AudioVideo;Recorder;
Comment=Record screen
Exec=deepin-screen-recorder --dbus
GenericName=Screen Capture
Icon=deepin-screen-recorder
Name=Deepin Screen Capture
TryExec=deepin-screen-recorder
Type=Application
X-Deepin-ManualID=deepin-screen-recorder
X-Deepin-Vendor=deepin
X-Deepin-TurboType=dtkwidget
NoDisplay=true