[Desktop Entry]
Categories=AudioVideo;Recorder;
Comment=Record screen
Exec=deepin-screen-recorder
GenericName=Screen Recorder
Icon=deepin-screen-recorder
Name=Deepin Screen Recorder
TryExec=deepin-screen-recorder
Type=Application
X-Deepin-ManualID=deepin-screen-recorder
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
Comment[ast]=Graba la pantalla
Comment[bg]=Запис на екран
Comment[ca]=Grava la pantalla
Comment[cs]=Nahrát obrazovku
Comment[da]=Optag skærm
Comment[de]=Bildschirm aufzeichnen
Comment[es]=Grabación de pantalla
Comment[fr]=Enregistre l'écran
Comment[hr]=Snimi zaslon
Comment[it]=Registratore dello schermo
Comment[lt]=Įrašinėti ekraną
Comment[ms]=Rakam Skrin
Comment[nb]=Ta opp skjerm
Comment[ne]=रेकर्ड स्क्रीन
Comment[nl]=Schermopname maken
Comment[pl]=Nagraj ekran
Comment[pt]=Gravar ecrã
Comment[pt_BR]=Gravar tela
Comment[ru]=Запись с экрана
Comment[sq]=Regjistroni ekranin
Comment[sr]=Снимај екран
Comment[tr]=Ekranı kaydet
Comment[uk]=Запис з екрана
Comment[zh_CN]=录屏
Comment[zh_TW]=錄製螢幕
GenericName[ast]=Grabador de la pantalla
GenericName[bg]=Запис на екрана
GenericName[ca]=Gravador de pantalla
GenericName[cs]=Nahrávač obrazovky
GenericName[da]=Skærmoptager
GenericName[de]=Screen Recorder
GenericName[es]=Screen Recorder
GenericName[fr]=Enregistreur d'écran
GenericName[hr]=Snimač zaslona
GenericName[it]=Screen Recorder
GenericName[lt]=Ekrano rašytuvas
GenericName[ms]=Perakam Skrin
GenericName[nb]=Skjermopptaker
GenericName[ne]=स्क्रीन रेकर्डर
GenericName[nl]=Schermopname
GenericName[pl]=Nagrywanie ekranu
GenericName[pt]=Gravador de Ecrã
GenericName[pt_BR]=Gravador de Tela
GenericName[ru]=Запись с Экрана
GenericName[sq]=Regjistrues Ekrani
GenericName[sr]=Снимач Екрана
GenericName[tr]=Ekran Kaydedici
GenericName[uk]=Записувач з екрана
GenericName[zh_CN]=录屏
GenericName[zh_TW]=螢幕錄影
Name[ast]=Deepin Screen Recorder
Name[bg]=Deepin запис на екрана
Name[ca]=Gravador de pantalla del Deepin
Name[cs]=Nahrávač obrazovky
Name[da]=Deepin skærmoptager
Name[de]=Deepin Screen Recorder
Name[es]=Deepin Screen Recorder
Name[fr]=Enregistreur d'écran Deepin
Name[hr]=Deepin snimač zaslona
Name[it]=Deepin Screen Recorder
Name[lt]=Deepin ekrano rašytuvas
Name[ms]=Perakam Skrin Deepin
Name[nb]=Deepin Skjermopptaker
Name[ne]=डिपिन स्क्रीन रेकर्डर
Name[nl]=Deepin Schermopname
Name[pl]=Nagrywanie ekranu Deepin
Name[pt]=Deepin Screen Recorder
Name[pt_BR]=Gravador de Tela Deepin
Name[ru]=Запись с Экрана Deepin 
Name[sq]=Regjistrues Ekrani Deepin
Name[sr]=Дипин Снимач Екрана
Name[tr]=Deepin Ekran Kaydedici
Name[uk]=Записувач з екрана Deepin
Name[zh_CN]=深度录屏
Name[zh_TW]=Deepin 螢幕錄影

