Source: deepin-screen-recorder
Section: utils
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends: debhelper (>= 9), pkg-config, qt5-qmake,
 libxcb-util0-dev, libqt5x11extras5-dev, qttools5-dev-tools, 
 libdtkwidget-dev, libxtst-dev, libprocps-dev, libdtkwm-dev
Standards-Version: 3.9.8
Homepage: https://github.com/manateelazycat/deepin-screen-recorder

Package: deepin-screen-recorder
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, byzanz, ffmpeg
Recommends: dde-session-ui
Description: Simple recorder tools for deepin
 A simple recorder tools for deepin.
