[D-BUS Service]
Name=com.deepin.Screenshot
Exec=/usr/bin/deepin-screen-recorder --dbus
#Exec=/usr/bin/dbus-send --session --type=method_call --print-reply --dest=com.deepin.SessionManager /com/deepin/StartManager com.deepin.StartManager.LaunchApp string:"/usr/share/applications/deepin-screen-recorder.desktop" uint32:0 array:string:"--dbus"
